<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/assets/forms.css" type="text/css" />
  </head>

  <header class="logo1">
    <div class="logo">
      <a href="index">
        <p id="text">Meeting Room Booking</p>
      </a>
    </div>
  </header>

  <body>
    <div class="row1">
      <% if(success!=''){%>
      <div class="alert alert-success"><b></b><%=success%></div>
      <%}%>
    </div>

    <div id="login-form-wrap1">
      <h2>PASSWORD RESET</h2>

      <form action="/reset-password-email" method="post" name="form1">
        <p>
          <i class="bi bi-envelope"></i>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email Address"
            required
          /><i class="validation"></i>
        </p>

        <p>
          <input type="submit" id="signup" value="Send Verification Link" />
        </p>
      </form>
      <div id="create-account-wrap">
        <p id="loginPage">Login? <a href="signin">Click Here</a></p>
      </div>
    </div>
  </body>
</html>
