<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Booking Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/forms.css" type="text/css" />
  </head>

  <header class="logo1">
    <div class="logo">
      <a href="index">
        <p id="text">Meeting Room Booking</p>
      </a>
    </div>
  </header>

  <body>
    <div class="row">
      <% if(message != ''){%>
      <div class="alert alert-success"><b></b><%=message%></div>
      <%}%>
    </div>
    <div class="row">
      <div class="alert alert-error user-status d-none"></div>
    </div>
    <div id="login-form-wrap">
      <h2>Room Booking</h2>
      <form name="myForm" id="myForm" action="/rooms" method="post">
        <!-- for now added dummy update from server code later -->
        <input
          type="hidden"
          name="organizer"
          id="organizer"
          value="subash@gmail.com"
        />
        <p>
          <i class="bi bi-building"></i>
          <!-- <input type="text" id="room" name="roomname" placeholder="Room Name" /><i class="validation"></i> -->

          <select
            name="roomname"
            id="roomname"
            style="width: 100%; height: 60px; padding-left: 40px"
          >
            <option value="Cave">Cave</option>
            <option value="Tower">Tower</option>
            <option value="Mansion">Mansion</option>
          </select>
        </p>
        <p>
          <i class="bi bi-people"></i>
          <input
            type="text"
            id="persons"
            name="capacity"
            placeholder="capacity"
            autocomplete="off"
            required
          /><i class="validation"></i>
        </p>

        <p>
          <i class="bi bi-person"></i>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Add Title"
            pattern="^[a-zA-Z][A-Za-z\s]*$"
            title="Names should start with characters only"
            required
          /><i class="validation"></i>
        </p>

        <p>
          <i class="bi bi-calendar-date"></i>
          <input
            type="text"
            id="startdate"
            class="date_picker"
            onclick="datepick();this.type='date'"
            onblur="this.type='text'"
            name="startdate"
            placeholder="Start Date"
            required
          /><i class="validation"></i>
        </p>
        <script>
          function datepick() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;
            $('.date_picker').attr('min', today);
          }
        </script>

        <p>
          <i class="bi bi-calendar-date"></i>
          <input
            type="text"
            id="enddate"
            name="enddate"
            class="date_picker"
            onclick="datepick();this.type='date'"
            onblur="this.type='text'"
            placeholder="End Date"
            required
          /><i class="validation"></i>
        </p>
        <script>
          function datepick() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');

            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;

            $('.date_picker').attr('min', today);
          }
        </script>

        <p>
          <i class="bi bi-clock"></i>
          <input
            type="text"
            id="starttime"
            name="starttime"
            class="timepicker"
            name="time"
            placeholder="Start Timing"
            onclick="this.type=''"
            onblur="this.type='text'"
            autocomplete="off"
            required
          /><i class="validation"></i>
        </p>

        <script>
          $(document).ready(function () {
            $('.timepicker').timepicker({
              timeFormat: 'HH:mm',

              minTime: new Date().toLocaleTimeString(),

              interval: 15,

              defaultTime: '',

              dynamic: false,

              dropdown: true,

              scrollbar: true,
            });
          });
        </script>

        <p>
          <i class="bi bi-clock"></i>
          <input
            type="text"
            id="endtime"
            class="timepicker"
            name="endtime"
            placeholder="End Timing"
            onclick="this.type=''"
            onblur="this.type='text'"
            autocomplete="off"
            required
          /><i class="validation"></i>
        </p>
        <script>
          $(document).ready(function () {
            $('.timepicker').timepicker({
              timeFormat: 'HH:mm',

              minTime: new Date().toLocaleTimeString(),

              interval: 15,

              defaultTime: '',

              dynamic: false,

              dropdown: true,

              scrollbar: true,
            });
          });
        </script>

        <p>
          <i class="bi bi-envelope"></i>
          <input
            type="text"
            id="email"
            name="attendes"
            placeholder="Add attendees"
            required
          /><i class="validation"></i>
        </p>

        <p>
          <input type="submit" id="booking" value="Confirm Booking" />
        </p>
      </form>
    </div>

    <script>
      var searchedUsers = [];
      var busyUsers = [];

      async function getUserStatus() {
        let $this = $(this);
        let value = $this.val();

        if (value.includes(',')) {
          let users = value.split(',');
          let user = users[users.length - 2];
          let condition =
            searchedUsers.filter((u) => {
              let key = user.includes('@') ? 'email' : 'username';
              return u[key] === user;
            }).length === 0;

          if (condition) {
            const _data = {
              email: user,
              startdate: $('#startdate').val(),
              enddate: $('#enddate').val(),
              starttime: $('#starttime').val(),
              endtime: $('#endtime').val(),
            };

            $('.user-status').addClass('d-none');
            try {
              const response = await fetch('http://localhost:5000' + `/fetch`, {
                method: 'POST',
                body: JSON.stringify(_data),
                headers: {
                  'Content-Type': 'application/json',
                },
              });
              const data = await response.json();
              if (data.user) {
                searchedUsers.push({
                  username: data.user.username,
                  email: data.user.email,
                });
                if (data.status === 'busy') {
                  busyUsers.push(data.user.username);
                }
                $('.user-status').removeClass('d-none');
                $('.user-status').text(
                  `${data.user.username} is ${data.status}`
                );
              } else if (data.message) {
                $('.user-status').removeClass('d-none');
                $('.user-status').text(`${data.message}`);
              }
            } catch (e) {
              console.log(e);
            }
          }
        }
      }

      $('#email').on('input', getUserStatus);
    </script>
  </body>
</html>
